* {
    box-sizing: border-box;
    font-family: 'Muli';
  }
  
  body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
    background-color: #F47171;
  }
  
  nav,
  footer {
    padding: 1% 0;
    background-color:#B40000;
    color: white;
  
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

 a {
   text-decoration: none;
   color: inherit;
 }

  
  .links {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row;
  }
  
  .name {
    float: left;
  }
  
  header {
    padding-top: 50px;
    background-color: white;
  }
  
  section {
    padding: 5px;
  }
  
  .title {
    background-color: #F47171;
    
  }
  
  
  .project {
    background-color:#FFD3D0;
    border-bottom: 1px white solid;
  }
  
  .aboutme {
    background-color:#FFD3D0;
  }
  